body {
  margin: 0;
  background: #fff;
}

.container {
  position: relative;
  width: 100%;
  font-family: sans-serif;
}

.footer {
  background: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.footer-content {
  color: #000;
  font-weight: bold;
  text-align: center;
  width: 23%;
  margin: 10px;
}

.loogo {
  margin: -80px;
  height: 100px;
  width: 100px;
  border: 10px solid #fff;
}

.title {
  font-size: 25px;
  margin: 20px;
  font-family: "Brush Script MT", cursive;
}

.address {
  font-size: 14px;
  font-weight: 100;
  padding: 10px;
}

.Social-media {
  font-size: 25px;
  padding: 5px;
}

.copyright {
  text-align: center;
}