h1 {
  text-align: center;
  text-shadow: 2px 2px 5px #A9A9A9;
  font-weight: bold;
}

marquee{
  background-color: #eef4f7;
  font-size: 1.5vw;
  color: red;
}

.box{
  border-radius: 1.2vw;
}

.parent:hover > div {
  opacity: 0.2;
}
.parent:hover > div:hover {
  opacity: 1;
}